.paginationContainer {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.pageSizeSelectorLabel, .pageNavigationButtonLabel {
  font-size: .8rem;
  color: var(--color-gray-light);
}

.pageSizeSelector {
  margin-left: .5rem;
}

.pageNavigation {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.pageNavigationButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--color-gray-light);
}

.buttonBack:hover, .buttonForward:hover {
  color: var(--color-dark) ;
  background-color: var(--color-gray-light);
  transition: all .3s ease-in-out;
}

.buttonDisabled {
  opacity: .3;
}

@media screen and (min-width: 768px){
  .paginationContainer {
    flex-direction: row;
  }
}